extend layout
block content
	.container 
		img.productImage(src= "http://" + products.coverImage)
		form(name='new-product-isbn', action="/products/new", method="post")
			div.input
				span.label Title: 
				span.sublabel #{products.data[0].title}
			div.input
				span.label Authors:  
				span.sublabel #{products.data[0].author_data[0].name}
			div.input
				span.label ISBN:  
				span.sublabel #{products.isbn}
			div.input-hidden
				input(type="text", name="isbn", value="#{products.isbn}")
			//- div.input
			//-  	span.label Description: 
			//-  	span.sublabel #{products.data[0].summary}
			div.input-hidden
				input(type="text", name="title", required, value="#{products.data[0].title}")
			div.input-hidden
				span.label Author
				input(type="text", name="author", value='#{products.data[0].author_data[0].name}')
			div.input
				span.label Description
				br
				input.input-hidden(name="description", cols="40", rows="5", value='#{products.data[0].summary}')
				p.sublabel #{products.data[0].summary}
			
			div.input
				span.label Condition
				select(name="condition", required)
					option(value='------') --------------------
					option(value='New / Like New') New / Like New
					option(value='Excellent') Excellent
					option(value='Good') Good
					option(value='Fair') Fair
					option(value='Poor') Poor
					option(value='Damaged') Damaged
			div.input Location
				br
				span.sublabel Row
				select(name="row", required)
					option(value="--") --
					option(value="A") A
					option(value="B") B
					option(value="C") C
				span.sublabel Stack
				select(name="stack", required)
					option(value="--") --
					option(value="1") 1
					option(value="2") 2
				span.sublabel Box
				select(name="box", required)
					option(value="--") --
					option(value="1") 1
					option(value="2") 2
					option(value="3") 3
					option(value="4") 4
					option(value="5") 5
					option(value="6") 6
					option(value="7") 7
					option(value="8") 8
			div.input
				span.label Price
				input(type="text", name="price")
			div.input
				span.label For Sale?
				select(name="forSale", required)
					option(value="true") Yes, This is for sale
					option(value="false") No, this is not for sale
			div.input
				span.label Notes 
				span.sublabel (not visible to customer)
				br
				textarea(name="notes", cols="45", rows="10")
			div.actions
				input(type="submit", value="SUBMIT")