extend layout
block content
	h2 #{products.pageTitle}
	.container
		ul
			each product, i in products
				li.product-wrapper
					a(href= '#{product._id}')
						p.title Title: #{product.title_long}
						p.author Author: #{product.author}
						p.description description: #{product.description}
						p.condition condition: #{product.condition}
						//- .notes notes: #{product.notes}
						p.location location: #{product.row} #{product.stack} #{product.box}
						p.price Price #{product.price}